.repo-view-wrapper {
  display: flex;
  height: calc(100vh - 60px);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.repo-sidebar {
  width: 300px;
  padding: 16px;
  border-right: 1px solid #d0d7de;
  /* background-color: #f6f8fa; */
  background-color: #24292f;

}

.file-row {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.file-row:hover {
  background-color: #eaeef2;
}

.file-icon {
  margin-right: 8px;
}

.file-name {
  font-weight: 500;
  color: #0969da;
}

.repo-content {
  flex: 1;
  padding: 16px;
  overflow: auto;
}

.file-preview-placeholder {
  color: #6a737d;
  font-style: italic;
}
